{{- $callback := printf "/usw/access_token?%s" .Callback -}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        <div class="center-container">
            <textarea>{{- .Callback -}}</textarea>
        </div>
        {{ if .USw }}
        <form method="post" action="{{ $callback }}">
            <label for="clientID">Client ID</label>
            <input required type="text" name="clientID" value="publicccc_client">

            <label for="clientSecret">Client Secret</label>
            <input required type="text" name="clientSecret" value="secreettUwU">

            <label for="refer">USW Server</label>
            <select name="refer">
                <option value="localhost">http://localhost:8080/</option>
                <option value="userstyles_world">https://userstyles.world/</option>
              </select>

            <button type="submit">Get access_token</button>
        </form>
        {{ end }}
    </body>
</html>