<!DOCTYPE html>
<html lang="nl">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        <main>
            <div class="sections">
                <div class="left section">
                    <h2>Hey <span class="wave">👋</span>, wie ben ik?</h2>

                    <div style="display: flex; justify-content: flex-start;">
                        <div>
                            <p>Ik ben William, toch? Een op dit moment, VWO'er op de middelbare.</p>
                            <p>En iemand die zeer graag over wilt gaan naar 4 VWO.</p>
                        </div>
                        <div style="align-items: center;">
                            <img class="no-hover" style="margin-left: 5em; width: 125px; height: 250px" src="/donkey.png" />
                            <p>Foto van mezelf - 2021</p>
                        </div>
                    </div>

                </div>
                <div class="right section">
                    <h2>Gemiddelde eindcijfers <span class="blink"></span></h2>

                    <img src="/cijfers.png" />
                    <p> >> Talen gaan beter (relatief).</p>
                    <p> >> Normale vakken staan goed.</p>
                </div>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
