<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        <main>
            <div class="wrapper v-center">
                <section class="h-center">
                    <p>This site is mine and I can do whatever I want with it - Gusted</p>
                    <h3>ᕦ(ò_óˇ)ᕤ</h3>
                </section>
                <div class="grid">
                    <section class="section">
                        <h2>Me?</h2>
                        <p>Apparently, this is my very personal site. So to the alien reading this...</p>
                        <p>You want to learn more about Gusted?</p>
                        <p>Then you're probably at the right place!</p>
                        <p>You can see some of my socials on the right, where you will find my open-source projects.</p>
                    </section>
                    <section class="section">
                        <h2>Socials</h2>
                        <p>Ha, Social media is pretty toxic and unreasonable these days.
                            So here are some programming sites you can find me on.
                        </p>
                        <ul>
                            <li><a href="https://github.com/gusted">Github</a></li>
                            <li><a href="https://gitlab.com/gusted">Gitlab</a></li>
                            <li><a href="https://codeberg.org/gusted">Codeberg</a></li>
                        </ul>
                    </section>
                </div>
                <div class="grid">
                    <section class="section">
                        <h2>Papers</h2>
                        <p>Apparently I am smart enough to do complicated stuff.</p>
                        <p>Every now and then, I like to release a paper about one of my projects.</p>
                        <p>For the whole list, please see <a href="/docs">the documents page</a>.</p>
                        <p>And here are some of the papers I published:</p>
                        <ul>
                            <li><a href="/docs/tntn">TNTN Algorithm</a></li>
                        </ul>
                    </section>
                </div>
                <hr>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
