<!DOCTYPE html>
<html lang="nl">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body class="portfolio-2021">
        <div id="intro">
            <div class="container">
                <h1 class="big-text">
                    Hey, mijn naam is <span class="green">William Zijl</span>
                </h1>
            </div>
        </div>
        <div id="goals">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">
                        Doelstellingen
                    </h2>
                    <span class="section-description">Lijkt simpel, maar het is bedrieglijk simpel.</p>
                </div>
                <div class="goals-wrapper row">
                    <div class="col-50">
                        <h3>Doelstelling 1</h3>
                        <p>Motivatie, dat is iets eetbaar, toch?</p>
                        <p>Het verbeteren en het opbouwen van motivatie om</p>
                        <p>serieus en leerzaam bezig te gaan.</p>
                    </div>
                    <div class="col-50">
                        <h3>Doelstelling 2</h3>
                        <p>Lekker slapen in de les, dat mag toch?</p>
                        <p>Actief meedoen in de les, naar KWG gaan wanneer nodig</p>
                        <p>les voorbereiden, huiswerk maken.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="plan-of-action">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">
                        Plan van Aanpak
                    </h2>
                    <span class="section-description">Maak simpel van moeilijk</p>
                </div>
                <img style="width: 700px" src="/nuttig.jpeg" />
                <br/>
                <img style="width: 450px" src="/boom.jpeg" />
            </div>
        </div>
        <div id="images">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">
                        Cijferlijst/Leerlingbespreking
                    </h2>
                </div>
            </div>
        </div>
        {{ template "partials/footer" . }}
    </body>
</html>