<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Register</h1>
                </section>

                {{ template "partials/alert" . }}

                <section class="register limit mx:a">
                    <form class="form-wrapper" method="post" action="/register">
                        <label for="username">Username</label>
                        <input
                            required pattern="^[a-zA-Z0-9_]{5,20}$"
                            type="text" name="username"
                            placeholder="e.g. username (5–20 characters)">
                        <label for="email">E-mail</label>
                        <input
                            required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                            type="text" name="email"
                            placeholder="e.g. username@example.org">
                        <label for="secretcode">Secret Code</label>
                        <input
                            required
                            type="password" name="secretcode"
                            placeholder="The Secret Code">
                        <label for="password">Password</label>
                        <input
                            required pattern="^[\S]{8,32}$"
                            type="password" name="password"
                            placeholder="(8–32 characters)">
                        <button class="flex btn primary" type="submit">Register</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
