* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-color: var(--fifth-background) var(--secondary-color);

    body {
        margin: 0;
        color: var(--primary-color);
        background: var(--primary-background);
        line-height: 1.5;
        font-family: var(--font-sans), var(--font-emoji);

        > * > .wrapper {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        > main {
            display: flex;
            min-height: calc(100vh - 130px);
        }
        > footer {
            width: 100%;
            margin: auto;
            padding-left: 1rem;
            padding-right: 1rem;

            > .wrapper {
                justify-content: space-between;
            }

            > div {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }

            ul {
                flex-flow: row wrap;
            }
            
            li {
                list-style: none;

                &:not(:last-child)::after {
                    content: "/";
                    padding: 0 0.5rem;
                    color: var(--fg-5);
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25%;

            .section {
                margin: 0;
                margin-bottom: 2%;
                margin-top: 2%;
            }
        }

        section {
            h2 {
                font-size: 2.5rem;
                color: var(--fifth-color);
            }
        }
        .v-center {
            padding-top: 2.25em;
            padding-bottom: 2.25em;
        }
        .h-center {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    a {
        color: rgb(151, 255, 255);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    hr {
        border: none;
        border-top: 2px solid var(--third-background)
    }
    h1 {
        font-size: 2.5em;
    }
    img {
        width: 100%;
    }
    mark {
        display: inline-flex;
        color: var(--inverse);
        background-color: var(--fourth-accent);
    }
}
.minw {
    display: inline-flex;
    min-width: 15ex;
}
section {
    &.border {
        border: 0.25em solid var(--secondary-accent);
        border-radius: 5px;
        > :first-child {
            margin-left: 0.5em;
        }
    }
    > p {
        margin-bottom: 0.5em;
    }
}

.mr-a {
    margin-right: auto;
}
.ai-c {
    align-items: center;
}
.py-m {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.flex {
    display: flex;
}