textarea {
    background-color: var(--secondary-background);
    border: thick #32a1ce;
    color: var(--secondary-color);
    height: 100%;
    max-height: 620px;
    width: 620px;
    word-wrap: break-word;

    &:focus {
        outline: none;
    }
}

.center-container {
    padding: 1rem;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

form {
    margin: 1rem auto;
    padding: 1rem;
    max-width: var(--form-max-width);
    border: 1px solid var(--fourth-background);
    background-color: var(--secondary-background);
    border-radius: var(--third-radius);

    label {
        display: flex;
    }

    input,
    textarea {
        background-color: var(--fourth-background);
        color: var(--third-color);
        display: flex;
        margin: 0.5rem 0 1.5rem;
        width: 100%;
        border: none;

        // Invalid states.
        &:invalid {
            &:not(:focus):placeholder-shown { box-shadow: none }
            &:not(:placeholder-shown) {
                border-color: #f00a;
                box-shadow: 0 0 0 0.2rem #f003;
            }
        }
    }

    > button {
        cursor: pointer;
        line-height: initial;
    }
}
